# Built objects
/build/
/*/build/
*.pyc

# Gradle
.gradle/
local.properties

# Signing
*.jks
*.keystore
google-services.json

# Android Studio / IntelliJ
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Misc
captures/
.externalNativeBuild/
.cxx/
